USE [master]
GO
/****** Object:  Database [Registraduria]    Script Date: 23/04/2026 9:51:24 a. m. ******/
CREATE DATABASE [Registraduria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Registraduria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Registraduria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Registraduria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Registraduria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Registraduria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Registraduria]
GO
/****** Object:  Table [dbo].[ciudadanos]    Script Date: 23/04/2026 9:51:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ciudadanos](
	[idCiudadanos] [int] IDENTITY(1,1) NOT NULL,
	[numeroDocumento] [nvarchar](20) NOT NULL,
	[nombres] [nvarchar](80) NOT NULL,
	[apellidos] [nvarchar](80) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[veredaBarrio] [nvarchar](80) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[correo] [nvarchar](100) NULL,
	[idMesasVotacion] [int] NULL,
	[fechaRegistro] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCiudadanos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ciudades]    Script Date: 23/04/2026 9:51:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ciudades](
	[idCiudades] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
	[departamento] [nvarchar](60) NULL,
	[codigoDane] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCiudades] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documentosExpedidos]    Script Date: 23/04/2026 9:51:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documentosExpedidos](
	[idDocumentosExpedidos] [int] IDENTITY(1,1) NOT NULL,
	[idCiudadanos] [int] NOT NULL,
	[tipoDocumento] [nvarchar](50) NOT NULL,
	[numeroSerie] [nvarchar](30) NOT NULL,
	[fechaExpedicion] [date] NOT NULL,
	[fechaVencimiento] [date] NULL,
	[estado] [nvarchar](20) NULL,
	[observaciones] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDocumentosExpedidos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesasVotacion]    Script Date: 23/04/2026 9:51:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesasVotacion](
	[idMesasVotacion] [int] IDENTITY(1,1) NOT NULL,
	[idZonaVotacion] [int] NOT NULL,
	[numeroMesa] [int] NOT NULL,
	[capacidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMesasVotacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solicitudes_ciudadano]    Script Date: 23/04/2026 9:51:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitudes_ciudadano](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_documento] [varchar](20) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[telefono] [varchar](20) NULL,
	[tipo_solicitud] [varchar](80) NOT NULL,
	[descripcion] [text] NOT NULL,
	[estado] [varchar](10) NOT NULL,
	[respuesta_admin] [text] NULL,
	[fecha_solicitud] [datetime] NOT NULL,
	[fecha_respuesta] [datetime] NULL,
	[admin_respondio] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 23/04/2026 9:51:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[nombreCompleto] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[activo] [bit] NOT NULL,
	[esSuperAdmin] [bit] NOT NULL,
	[fechaCreacion] [datetime2](7) NULL,
	[ultimoAcceso] [datetime2](7) NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zonasVotacion]    Script Date: 23/04/2026 9:51:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zonasVotacion](
	[idZonaVotacion] [int] IDENTITY(1,1) NOT NULL,
	[idCiudades] [int] NOT NULL,
	[nombreZona] [nvarchar](80) NOT NULL,
	[puestoVotacion] [nvarchar](120) NOT NULL,
	[direccion] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idZonaVotacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ciudadanos] ON 

INSERT [dbo].[ciudadanos] ([idCiudadanos], [numeroDocumento], [nombres], [apellidos], [fechaNacimiento], [veredaBarrio], [telefono], [correo], [idMesasVotacion], [fechaRegistro]) VALUES (1, N'1052345678', N'Carlos Ernesto', N'Pedraza Rondón', CAST(N'1985-03-12' AS Date), N'Centro', N'3101234567', NULL, NULL, CAST(N'2026-04-14T21:51:57.3366667' AS DateTime2))
INSERT [dbo].[ciudadanos] ([idCiudadanos], [numeroDocumento], [nombres], [apellidos], [fechaNacimiento], [veredaBarrio], [telefono], [correo], [idMesasVotacion], [fechaRegistro]) VALUES (2, N'1052345679', N'María del Carmen', N'Suárez Cely', CAST(N'1992-07-24' AS Date), N'Heroica', N'3117654321', NULL, NULL, CAST(N'2026-04-14T21:51:57.3366667' AS DateTime2))
INSERT [dbo].[ciudadanos] ([idCiudadanos], [numeroDocumento], [nombres], [apellidos], [fechaNacimiento], [veredaBarrio], [telefono], [correo], [idMesasVotacion], [fechaRegistro]) VALUES (3, N'1052345680', N'Jorge Hernando', N'Báez Morales', CAST(N'1978-11-05' AS Date), N'San Martín', N'3124567890', NULL, NULL, CAST(N'2026-04-14T21:51:57.3366667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ciudadanos] OFF
GO
SET IDENTITY_INSERT [dbo].[ciudades] ON 

INSERT [dbo].[ciudades] ([idCiudades], [nombre], [departamento], [codigoDane]) VALUES (1, N'Bogotá', N'Cundinamarca', N'11001')
INSERT [dbo].[ciudades] ([idCiudades], [nombre], [departamento], [codigoDane]) VALUES (2, N'Medellín', N'Antioquia', N'05001')
INSERT [dbo].[ciudades] ([idCiudades], [nombre], [departamento], [codigoDane]) VALUES (3, N'Cali', N'Valle del Cauca', N'76001')
SET IDENTITY_INSERT [dbo].[ciudades] OFF
GO
SET IDENTITY_INSERT [dbo].[documentosExpedidos] ON 

INSERT [dbo].[documentosExpedidos] ([idDocumentosExpedidos], [idCiudadanos], [tipoDocumento], [numeroSerie], [fechaExpedicion], [fechaVencimiento], [estado], [observaciones]) VALUES (1, 1, N'Cedula de ciudadania', N'CC-2015-00123', CAST(N'2015-06-10' AS Date), NULL, N'vigente', NULL)
INSERT [dbo].[documentosExpedidos] ([idDocumentosExpedidos], [idCiudadanos], [tipoDocumento], [numeroSerie], [fechaExpedicion], [fechaVencimiento], [estado], [observaciones]) VALUES (2, 2, N'Cedula de ciudadania', N'CC-2018-00456', CAST(N'2018-09-22' AS Date), NULL, N'vigente', NULL)
INSERT [dbo].[documentosExpedidos] ([idDocumentosExpedidos], [idCiudadanos], [tipoDocumento], [numeroSerie], [fechaExpedicion], [fechaVencimiento], [estado], [observaciones]) VALUES (3, 3, N'Cedula de ciudadania', N'CC-2010-00789', CAST(N'2010-03-15' AS Date), NULL, N'vigente', NULL)
SET IDENTITY_INSERT [dbo].[documentosExpedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[mesasVotacion] ON 

INSERT [dbo].[mesasVotacion] ([idMesasVotacion], [idZonaVotacion], [numeroMesa], [capacidad]) VALUES (1, 1, 101, 300)
INSERT [dbo].[mesasVotacion] ([idMesasVotacion], [idZonaVotacion], [numeroMesa], [capacidad]) VALUES (2, 1, 102, 280)
INSERT [dbo].[mesasVotacion] ([idMesasVotacion], [idZonaVotacion], [numeroMesa], [capacidad]) VALUES (3, 2, 201, 250)
SET IDENTITY_INSERT [dbo].[mesasVotacion] OFF
GO
SET IDENTITY_INSERT [dbo].[solicitudes_ciudadano] ON 

INSERT [dbo].[solicitudes_ciudadano] ([id], [numero_documento], [nombres], [apellidos], [correo], [telefono], [tipo_solicitud], [descripcion], [estado], [respuesta_admin], [fecha_solicitud], [fecha_respuesta], [admin_respondio]) VALUES (2, N'1050093043', N'Karen', N'Acosta', N'dayanakarenacostabuitrago@gmail.com', N'3214973960', N'Corrección de nombre', N'mi nombre no esta bien escrito', N'ACEPTADA', N'cual es el nombre correcto?', CAST(N'2026-04-22T10:20:59.320' AS DateTime), CAST(N'2026-04-22T10:21:42.037' AS DateTime), N'Karen Acosta')
SET IDENTITY_INSERT [dbo].[solicitudes_ciudadano] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([idUsuario], [username], [password], [nombreCompleto], [email], [activo], [esSuperAdmin], [fechaCreacion], [ultimoAcceso]) VALUES (1, N'superadmin', N'$2a$10$einqSY1HqjQTkQzf2kBbieciVYio8uZ/ESSzxFsgBAeBsh8gJUAQ.', N'Super Administrador', N'superadmin@registraduria.gov.co', 1, 0, CAST(N'2026-04-16T22:02:46.8633333' AS DateTime2), CAST(N'2026-04-17T16:53:43.4766667' AS DateTime2))
INSERT [dbo].[usuarios] ([idUsuario], [username], [password], [nombreCompleto], [email], [activo], [esSuperAdmin], [fechaCreacion], [ultimoAcceso]) VALUES (2, N'admin1', N'$2a$10$swEOKV1Kfrbj0mx7giXMdOedG8qM7clxuHE.mr/OVYxnGxcAdJ.wG', N'Administrador 1', N'admin1@registraduria.gov.co', 1, 0, CAST(N'2026-04-16T22:05:35.5933333' AS DateTime2), CAST(N'2026-04-17T16:41:20.9066667' AS DateTime2))
INSERT [dbo].[usuarios] ([idUsuario], [username], [password], [nombreCompleto], [email], [activo], [esSuperAdmin], [fechaCreacion], [ultimoAcceso]) VALUES (3, N'carlos', N'$2a$10$Ms/7xlGiBzgX/4vQsoy7S.Njkm3a8B5a3jWkHQpEhhBxseVA42Dtu', N'carlos perez', N'superadmin@registraduria.gov.co', 0, 1, CAST(N'2026-04-17T06:53:39.2166667' AS DateTime2), CAST(N'2026-04-22T09:36:47.3766667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[zonasVotacion] ON 

INSERT [dbo].[zonasVotacion] ([idZonaVotacion], [idCiudades], [nombreZona], [puestoVotacion], [direccion]) VALUES (1, 1, N'Zona Norte', N'Colegio Distrital Norte', N'Calle 170 #10-20')
INSERT [dbo].[zonasVotacion] ([idZonaVotacion], [idCiudades], [nombreZona], [puestoVotacion], [direccion]) VALUES (2, 1, N'Zona Sur', N'Colegio Distrital Sur', N'Carrera 50 #20-30')
INSERT [dbo].[zonasVotacion] ([idZonaVotacion], [idCiudades], [nombreZona], [puestoVotacion], [direccion]) VALUES (3, 2, N'Zona Centro', N'Institución Medellín', N'Av. Oriental #45-10')
SET IDENTITY_INSERT [dbo].[zonasVotacion] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ciudadan__4CC511E415C26172]    Script Date: 23/04/2026 9:51:25 a. m. ******/
ALTER TABLE [dbo].[ciudadanos] ADD UNIQUE NONCLUSTERED 
(
	[numeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ciudades__4C85C35E4C404A6A]    Script Date: 23/04/2026 9:51:25 a. m. ******/
ALTER TABLE [dbo].[ciudades] ADD UNIQUE NONCLUSTERED 
(
	[codigoDane] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__document__71472B4D96B1C53B]    Script Date: 23/04/2026 9:51:25 a. m. ******/
ALTER TABLE [dbo].[documentosExpedidos] ADD UNIQUE NONCLUSTERED 
(
	[numeroSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_usuarios_username]    Script Date: 23/04/2026 9:51:25 a. m. ******/
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [UQ_usuarios_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ciudadanos] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[ciudades] ADD  DEFAULT ('Boyacá') FOR [departamento]
GO
ALTER TABLE [dbo].[documentosExpedidos] ADD  DEFAULT ('vigente') FOR [estado]
GO
ALTER TABLE [dbo].[mesasVotacion] ADD  DEFAULT ((200)) FOR [capacidad]
GO
ALTER TABLE [dbo].[solicitudes_ciudadano] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[solicitudes_ciudadano] ADD  DEFAULT (getdate()) FOR [fecha_solicitud]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [esSuperAdmin]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[ciudadanos]  WITH CHECK ADD  CONSTRAINT [fk_ciudadano_mesa] FOREIGN KEY([idMesasVotacion])
REFERENCES [dbo].[mesasVotacion] ([idMesasVotacion])
GO
ALTER TABLE [dbo].[ciudadanos] CHECK CONSTRAINT [fk_ciudadano_mesa]
GO
ALTER TABLE [dbo].[documentosExpedidos]  WITH CHECK ADD  CONSTRAINT [fk_doc_ciudadano] FOREIGN KEY([idCiudadanos])
REFERENCES [dbo].[ciudadanos] ([idCiudadanos])
GO
ALTER TABLE [dbo].[documentosExpedidos] CHECK CONSTRAINT [fk_doc_ciudadano]
GO
ALTER TABLE [dbo].[mesasVotacion]  WITH CHECK ADD  CONSTRAINT [fk_mesa_zona] FOREIGN KEY([idZonaVotacion])
REFERENCES [dbo].[zonasVotacion] ([idZonaVotacion])
GO
ALTER TABLE [dbo].[mesasVotacion] CHECK CONSTRAINT [fk_mesa_zona]
GO
ALTER TABLE [dbo].[zonasVotacion]  WITH CHECK ADD  CONSTRAINT [fk_zona_ciudad] FOREIGN KEY([idCiudades])
REFERENCES [dbo].[ciudades] ([idCiudades])
GO
ALTER TABLE [dbo].[zonasVotacion] CHECK CONSTRAINT [fk_zona_ciudad]
GO
ALTER TABLE [dbo].[solicitudes_ciudadano]  WITH CHECK ADD  CONSTRAINT [chk_estado] CHECK  (([estado]='RECHAZADA' OR [estado]='ACEPTADA' OR [estado]='PENDIENTE'))
GO
ALTER TABLE [dbo].[solicitudes_ciudadano] CHECK CONSTRAINT [chk_estado]
GO
USE [master]
GO
